import * as S from './styles';

export type {{pascalCase name}}Props = {
  example?: string;
};

const {{pascalCase name}} = ({ example }: {{pascalCase name}}Props) => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
);

export default {{pascalCase name}};
